// contact

.contact {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow-y: hidden;
    display: none;
    
    &-overlay {
        background-color: rgba($color: #fff, $alpha: 0.3);
        width: 100vw;
        height: 100vh;

        ._pages & {
            background-color: rgba($color: #000, $alpha: 0.3);
        }
    }

    &-form {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        max-width: 550px;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 3rem 6rem 9rem;

        @include mq(sp) {
            max-height: 100vh;
            padding: 3rem 3rem 6rem;
        }
    }
    
    &-close {
        position: absolute;
        cursor: pointer;
        width: 18px;
        height: 18px;
        top: 20px;
        right: 24px;
        background-image: url(../../img/close.png);
    }

    &-title {
        font-size: 2rem;
        text-align: center;
        padding-bottom: 3rem;
        margin-bottom: 3.6rem;
        border-bottom: 1px solid #e7e7e7;

        @include mq(sp) {
            padding-bottom: 2.5rem;
            margin-bottom: 3rem;
        }
    }

    &-btn {
        text-align: center;

        button {
            cursor: pointer;
            color: $color-text;
            line-height: 42px;
            background-color: #fff;
            border: 1px solid #707070;
            padding: 0 6.7rem;
        }
    }
}